@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
/* reset styles */
html,
body {
  max-height: 100vh;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #373435;
  font-family: "Roboto", sans-serif;
}

* {
  outline: none;
  user-select: none;
}

/* end reset styles */
/* loader styles */
.loader {
  display: none;
  z-index: 100;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #373435;
}
.loader-cover {
  z-index: 102;
  background-color: #373435;
  height: 0vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  animation: loading 3s;
}
.loader img {
  z-index: 101;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 60vh;
  max-width: 100%;
  animation: loadingImg 0.8s 2.5s;
}
@keyframes loading {
  0% {
    height: 100vh;
  }
  30% {
    height: 60vh;
  }
  60% {
    height: 50vh;
  }
  80% {
    height: 30vh;
  }
  100% {
    height: 0vh;
  }
}
@keyframes loadingImg {
  0% {
    top: 50%;
  }
  30% {
    top: 70%;
  }
  100% {
    top: -300%;
  }
}

/* end loader styles */
/* gallery */
.gallery-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.controls-container {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 10vw;
  color: #fefefe;
  font-size: 3rem;
  transition: all 0.3s;
  cursor: pointer;
}
.controls-container:hover {
  background-color: #585355;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.gallery-images img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  max-width: 75vw;
}
.gallery-images .fullscreen {
  max-width: 95vw;
  max-height: 95vh;
}

.functions-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
}
.functions-container i {
  color: #fefefe;
  font-size: 6rem;
  margin: 0 10px;
  transition: all 0.1s;
  cursor: pointer;
}
.functions-container i:hover {
  color: #f9a631;
}
.functions-container .i--active {
  color: #f9a631;
}

/* end gallery */
/* tile view */
.tile-view {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.tile-container {
  width: 80vw;
  padding: 2rem;
  box-sizing: border-box;
}

.meta-container {
  width: 20vw;
  background-color: #fefefe;
}

.tile-nav {
  display: flex;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 2rem;
}
.tile-nav h1 {
  color: #fefefe;
  font-size: 3.5rem;
  margin: 0;
}
.tile-nav h1 img {
  width: auto;
  height: 3.5rem;
  vertical-align: top;
}
.tile-nav h2 {
  margin: 0;
  color: #f9a631;
}

.nav-controls {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav-controls .range-container {
  margin-right: 1rem;
  width: 30rem;
}
.nav-controls .range-container .tile-range {
  width: 100%;
}
.nav-controls i {
  color: #fefefe;
  font-size: 3.5rem;
  transition: all 0.1s;
  cursor: pointer;
}
.nav-controls i:hover {
  color: #f9a631;
}
.nav-controls .i--active {
  color: #f9a631;
}

.tile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  align-items: start;
  grid-gap: 1rem;
  height: calc(100vh - 10.6rem);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 2rem;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.tile-grid::-webkit-scrollbar {
  width: 10px;
}
.tile-grid::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.tile-grid::-webkit-scrollbar-thumb {
  background: #888;
}
.tile-grid::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.15s;
  border: 0.5rem solid transparent;
  cursor: pointer;
}
.tile:hover {
  transform: scale(0.9);
}

.tile--active {
  border-color: #f9a631;
}

.tile-image {
  width: 100%;
  height: auto;
}

.meta-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.meta-title {
  margin: 2rem 0;
}

.meta-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 20rem;
}

.meta-image {
  width: 80%;
  max-height: 90%;
  height: auto;
  border: 1px solid #a5a5a5;
}

.meta-detail {
  margin: 0.8rem 0;
  width: 80%;
  font-weight: 500;
  font-size: 1.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.meta-detail a {
  text-decoration: none;
  color: #000;
  transition: color 0.15s;
}
.meta-detail a:hover {
  color: #f9a631;
}

.meta-btn {
  text-transform: uppercase;
  margin-top: 1.6rem;
  border: none;
  width: 80%;
  padding: 0.6rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  color: #fefefe;
  background-color: #f9a631;
  transition: all 0.15s;
  cursor: pointer;
}
.meta-btn:hover {
  background-color: #f08f07;
}

/* end of tile view */
/* common styles */
.hidden {
  display: none;
}

.easter-pop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  animation: easterPop 1.5s;
}
.easter-pop img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-radius: 1.5rem;
  border: 3px solid transparent;
  max-height: 80%;
  height: auto;
  transition: all 0.15s;
  content: url("./img/noahs_logo.png");
  cursor: pointer;
}
.easter-pop img:hover {
  border-color: #f9a631;
}

.easter-pop--exit {
  animation: easterPopExit 1.5s;
}

@keyframes easterPop {
  0% {
    top: -150%;
  }
  80% {
    top: 3%;
  }
  100% {
    top: 0;
  }
}
@keyframes easterPopExit {
  0% {
    top: 50%;
  }
  20% {
    top: 53%;
  }
  100% {
    top: -150%;
    display: none;
  }
}

/*# sourceMappingURL=theme.css.map */
